[Desktop Entry]
Categories=Utility;
Comment=OpenRGB 0.9, for controlling RGB lighting.
Icon=OpenRGB
Name=OpenRGB
StartupNotify=true
Terminal=false
Type=Application
Exec=/usr/bin/openrgb --startminimized --server
